<%= form_with(model: print_image) do |form| %>
  <% if print_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(print_image.errors.count, "error") %> prohibited this print_image from being saved:</h2>

      <ul>
        <% print_image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :thumbnail_image %>
    <%= form.file_field :thumbnail_image %>
  </div>

  <div class="field">
    <%= form.label :image_for_download %>
    <%= form.file_field :image_for_download, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>


  <div class="form-group">
    <%= form.label :event_id, "イベントを選択してください" %>
    <%= form.collection_select :event_id, events, :id, :event_name, { include_blank: '選択してください' }, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :category_id, "カテゴリーを選択してください" %>
    <%= form.collection_select :category_id, categories, :id, :category_name, { include_blank: '選択してください' }, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :説明文 %>
    <%= form.text_area :explanation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
