<p id="notice"><%= notice %></p>

<h1>admin用のPrint Images indexページ</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>User</th>
      <th>Category</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @print_images.each do |print_image| %>
      <tr>
      <td><% if print_image.thumbnail_image.present? %>
      <%= image_tag print_image.thumbnail_image, size: "150x150" %><br>
      <%else%>
      <img src="http://placehold.jp/150x150"><br>
      <%end%></td>
        <td><%= print_image.user_id %></td>
        <td><%= print_image.category_id %></td>
        <td><%= print_image.event_id %></td>
        <td><%= link_to 'Show', print_image %></td>
        <td><%= link_to 'Edit', edit_print_image_path(print_image) %></td>
        <td><%= link_to 'Destroy', print_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しく追加する', new_print_image_path %>

アドミン用
