<p id="notice"><%= notice %></p>

<p>
<% if @print_image.image_for_download.present? %>
            <% @print_image.image_for_download.each do |image| %>
                <%= image_tag image.url, size: "150x150" %>
            <% end %>
        <%else%>
            <img src="http://placehold.jp/150x150"><br>
        <%end%>
</p>

<p>
  <strong>User:</strong>
  <%= @print_image.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @print_image.category_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @print_image.event_id %>
</p>

<%= link_to 'Edit', edit_print_image_path(@print_image) %> |
<%= link_to 'Back', print_images_path %>
