userが見る印刷テンプレートshow

<tr>
        <% if @print_image.image_for_downloads.attached? %>
            <% @print_image.thumbnail_image.each do |image| %>
                <%= image_tag image.url, size: "150x150" %>

                <%= link_to '画像をダウンロード', download_image_print_image_path(@print_image, image.id), class: 'btn btn-primary' %>
                <%= image %>
            <% end %>
        <%else%>
            <img src="http://placehold.jp/150x150"><br>
        <%end%>

      <td><%= @print_image.category.category_name %></td>
      <td><%= @print_image.event.event_name %></td>
</tr>

<li>
    <%= link_to "userが見る印刷テンプレートindex", print_images_user_index_path %>
</li>