userが見る印刷テンプレートshow

<tr>
        # <% if @print_image.image_for_download.present? %>
            <% @print_image.image_for_download.each do |image| %>
                <%= image_tag image.url, size: "150x150" %>

                <%= link_to "ダウンロード - #{image.filename}", download_print_image_path(@print_image, image_id: image.id), target: "_blank" %>
                <%= image %>
            <% end %>
       
        #     <img src="http://placehold.jp/150x150"><br>
        # <%end%>

      <td><%= @print_image.category.category_name %></td>
      <td><%= @print_image.event.event_name %></td>
</tr>

<li>
    <%= link_to "userが見る印刷テンプレートindex", print_images_user_index_path %>
</li>