userが見る印刷テンプレートindex



<% @print_images.each do |print_image| %>
    <tr>
      <td><%= print_image.image %></td>
      <td><%= print_image.category.category_name %></td>
      <td><%= print_image.event.event_name %></td>
      <%= link_to "詳しく見る", print_images_user_show_path(print_image.id) %>
    </tr>
<% end %>


<li>
    <%= link_to "topページへ", core_pages_top_path %>
</li>

