<%= form_with(model: form_question) do |form| %>
  <% if form_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_question.errors.count, "error") %> prohibited this form_question from being saved:</h2>

      <ul>
        <% form_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_form_question %>
    <% if user_signed_in? %>

      <%= form.text_field :name_form_question, {readonly: true, value: "#{current_user.name}" } %>

    <% else %>

      <%= form.text_field :name_form_question %>

    <% end %>
  </div>

  <div class="field">
    <%= form.label :subject_form_question %>
    <%= form.text_field :subject_form_question %>
  </div>

  <div class="field">
    <%= form.label :content_form_question %>
    <%= form.text_area :content_form_question %>
  </div>


  <div class="field">
    <%= form.file_field :image_form_question %>
  </div>


    <%= form.hidden_field :user_id  %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
