<p id="notice"><%= notice %></p>

<h1>Form Answers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Form question</th>
      <th>Name form answer</th>
      <th>Content form answer</th>
      <th>Image form answer</th>
      <th>Best answer form answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_answers.each do |form_answer| %>
      <tr>
        <td><%= form_answer.user_id %></td>
        <td><%= form_answer.form_question_id %></td>
        <td><%= form_answer.name_form_answer %></td>
        <td><%= form_answer.content_form_answer %></td>
        <td><%= form_answer.image_form_answer %></td>
        <td><%= form_answer.best_answer_form_answer %></td>
        <td><%= link_to 'Show', form_answer %></td>
        <td><%= link_to 'Edit', edit_form_answer_path(form_answer) %></td>
        <td><%= link_to 'Destroy', form_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form Answer', new_form_answer_path %>
