
<div class=" <%= header_button %>">
    <%= link_to "ログアウト(管理者)", destroy_user_session_path, method: :delete %>
</div>

<% if Rails.env.development? %>
    <div class=" <%= header_button %>">
        <%= link_to "登録情報", edit_user_registration_path %>
    </div>
    <div class=" <%= header_button %>">
        <%= link_to "あなたの投稿", your_posts_path(current_user.id) %>
    </div>
<% end %>