<!DOCTYPE html>
<html>

    <head>
        <title>Eq</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track':
        'reload' %>

        <%= yield(:additional_stylesheets) %>


        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <nav
            class="navbar bg-primary d-flex justify-content-end sticky-top"
            data-bs-theme="dark">


        <div class="<%= header_button %>">
            <%= link_to "トップページへ", core_pages_top_path %>
        </div>

    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>

        <% if current_user.admin == true %>

            <%= render partial: 'layouts/sidebar_admin' %>

        <% else %>

        <% end %>

    <% else %>

    <% end %>

    <%= yield %>

</body>

</html>